.results-index{
    width: 60vw;
    /* margin-left: 22%; */
}
.result-index-item-container{
    margin-top: 20px;
    /* margin-left: 27%; */
    overflow: hidden;
}

/*
    FIX STYLING
*/

.result-index-item{
    display: flex;
}

.result-title{
    font-size: 18px;
    font-family: sans-serif;
}

.result-labels{
    margin-top: 4px;
    color: gray;
    font-family: sans-serif;
    font-size: 12px;
}

.result-text-labels{
    margin-left: 10px;

}

.result-description{
    margin-top: 8px;
    color: gray;
    font-family: sans-serif;
    font-size: 12px;
    word-break: break-all;
    height: 40px;
    
}

.result-index-item-thumb{
    width: 253px;
    height: 141px;
    /* overflow: hidden; */
}
