.video-show-page{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.video-placeholder{
    height: 375px;
    width: 670px;
}
.video-player{
    width: 70%;
}

.actual-video{
    width: 70vw;

}

.video-show-section {
    padding-left: 35px;
    margin-top: 25px;
    width: 70%;
}

.video-show-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 10px;
    margin-bottom: 6px;
}

.horiz-line{
    border: .5px solid rgb(202, 202, 202);
    width: 100%;
}

/* .bottom-horiz{
    border: .5px solid rgb(202, 202, 202);
    width: 100%;
} */

.video-show-view-counter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14x;
    color: rgb(109, 107, 107);
    margin-bottom: 10px;
}

.video-show-uploader-icon {
    padding: 12px 17px 12px 17px;
    background-color: rgb(9, 8, 78);
    font-size: 18px;
    display: inline-block;
    border-radius: 50%;
    color: white;
    float: left;
    margin-right: 15px;
    margin-bottom: 50px;
}

.info-section{
    width: 100%;
}

.video-show-sub-button{
    float: right;
    background-color: rgb(41, 71, 243);
    font-family: arial, sans-serif;
    color: white;
    padding: 10px 30px 10px 30px;
    position: relative;
    bottom: 15px;
}

.video-show-uploader {
    
}

.video-show-description {
    margin-top: 20px;
}

.comment-ul {
    clear: both;
}

.single-comment{
    margin-top: 30px;
}

.section-one-bottom-half{
    display: flex;
    justify-content: space-between;
    margin-bottom: -23px;
}

.section-one{
    width: 100%;
    padding-bottom: 15px;
}

.fullbar{
    display: flex;
    margin-right: 20vw;
}

.likebar{
    /* padding-bottom: 15px;
    border-bottom: solid black 2px; */
    display: flex;
}

.dislikebar{
    /* padding-bottom: 15px;
    border-bottom: solid rgb(202, 200, 200) 2px; */
    display: flex;
}

.like-borders{
    padding-top: 15px;
    width: 100px;
    display: flex;
}

.like-border{
    /* width: 50px; */
    border-bottom: solid black 2px;
}
.dislike-border{
    /* width: 50px; */
    border-bottom: solid rgb(168, 166, 166) 2px;
}

.fa-thumbs-down{
    position: relative;
    top: 8px;
    left: 35px;
}

.fa-thumbs-down:hover{
    cursor: pointer;
}

.fa-thumbs-up:hover{
    cursor: pointer;
}

.fa-thumbs-up{
    position: relative;
    top: 5px;
}

.num-likes{
    margin-left: 10px;
}

.num-dislikes{
    padding-left: 10px;

}

.up-next{
    font-size: 12px;
    font-family: arial, sans-serif;
    margin-bottom: 10px;
}

.video-show-index{
    float: right;
    margin-left: 20px;
}

.comment-heading{
    font-family: arial, sans-serif;
    margin-bottom: 10px;
}
