.video-placeholder{
    height: 375px;
    width: 670px;
}

.video-show-section {
    padding-left: 35px;
    margin-top: 25px;
    width: 55%;
}

.video-show-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
}

.video-show-view-counter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14x;
    color: rgb(109, 107, 107);
    margin-bottom: 10px;
}

.video-show-uploader-icon {
    padding: 12px 17px 12px 17px;
    background-color: rgb(9, 8, 78);
    font-size: 18px;
    display: inline-block;
    border-radius: 50%;
    color: white;
    float: left;
    margin-right: 15px;
    margin-bottom: 50px;
}

.video-show-sub-button{
    float: right;
    background-color: rgb(197, 9, 9);
    font-family: arial, sans-serif;
    color: white;
    padding: 10px 30px 10px 30px;
    position: relative;
    bottom: 15px;
}

.video-show-uploader {
    
}

.video-show-description {
    margin-top: 20px;
}

.comment-ul {
    clear: both;
}

.single-comment{
    margin-top: 300px;
}

.single-comment-author{

}

.single-comment-body{

}