
.video-upload-div{
    background-color: rgb(211, 208, 208);
    height: 100vh;
    width: 100vw;
}

.video-upload-display{
    position: relative;
    top: 20px;
    background-color: white;
    height: 80vh;
    width: 90%;
    margin-left: 5vw;
    box-shadow: 10px 10px 10px 10px #bebaba;
    padding: 20px;
    box-sizing: border-box;
}

.upload-form{
    display: flex;
    flex-wrap: wrap;
}

.upload-icon {
    height: 188px;
	background-color: #bebaba;
	border-radius: 28px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
    font-size: 150px;
    font-weight: 900;
	padding: 30px 38px 0px 38px;
	text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    border-bottom: solid white 30px;
    box-sizing: border-box;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
.upload-icon:hover {
	background-color:#2727d6;
}
.upload-icon:active {
	position:relative;
	top:1px;
}

.select-file-p{
    position: relative;
    left: 50px;
    width: 50%;
}

.video-file-input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.video-input-section{
    padding-top: 80px;
    padding-left: 30vw;
}

.thumb-section {
    float: left;
    margin-right: 20px;
}

.thumb-file-input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.hidden{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload-title-input{
    margin-top: 50px;
    padding: 6px;
    height: 16px;
    border: 1px solid rgb(209, 206, 206);
    width: 100%;
}

.upload-inputs{
    width: 100%;
}

.upload-description-input{
    margin-top: 15px;
    padding: 6px;
    height: 60px;
    width: 100%;
    border: 1px solid rgb(209, 206, 206);
}

.upload-title-input:focus{
    border: 1px solid blue;
}

.upload-description-input:focus{
    border: 1px solid blue;
    
}

.thumb-preview{
    height: 108px;
    width: 195px;
    background-color: gray;
    overflow: hidden;
}
/* 
.processing-bar {
    width: 60%;
    height: 25px;
    background-color: rgb(136, 193, 247);
    border: 1px solid rgb(4, 4, 128);
} */

.upload-video-button{
    padding: 7px;
    background-color: rgb(61, 170, 243);
    color: white;
    border-radius: 5px;
    float: right;
    margin-right: 40px;
}

.upload-thumb-label:hover{
    cursor: pointer;
}


.upload-page-2-middle-section{
    width: 50%;
}