/* .fa-sub {
    width: 20px;
    height: 18px;
}

.full-sidebar {
    float: left;
    width: 240px;
    background-color: rgb(240, 238, 238);
    height: 100vh;
    margin-right: 30px;
    margin-top: -2px;
}

.collapsed-sidebar{
    float: left;
}

.full-sub-icon {
    display: flex;
}

.full-home-icon {
    margin-left: 20px;
    margin-top: 10px;
}

.full-trending-icon {
    margin-left: 20px;
    margin-top: 10px;
}

.full-git-icon {
    margin-left: 20px;
    margin-top: 10px;
}

.full-linkedin-icon {
    margin-left: 20px;
    margin-top: 10px;
}

.full-sub-icon {
    margin-left: 20px;
    margin-top: 10px;
}

.full-lib-icon {
    margin-left: 20px;
    margin-top: 10px;
}

.full-history-icon {
    margin-left: 20px;
    margin-top: 10px;
}
 */


.home-full-side {
    float: left;
    background-color: rgb(241, 241, 241);
    width: 20%;
    height: 100vh;
    margin-left: -3px;
    margin-right: 35px;
}

.full-home-icon{
    color: rgb(49, 92, 233);
    margin-right: 20px;
}

.full-home-home{
    padding: 10px 20px 10px 20px;
    margin-top: 13px;
}


.full-git-home{
    padding: 10px 20px 10px 20px;
    
}

.full-git-icon{
    margin-right: 20px;
}

.full-linkedin-home{
    padding: 10px 20px 10px 20px;
    
}

.full-linkedin-icon{
    margin-right: 20px;
}

.sidebar-hover:hover{
    background-color: rgb(209, 208, 208);
    cursor: pointer;
}

.home-part-side{
    margin-right: 5%;
    float: left;
    background-color: rgb(241, 241, 241);
    width: 70px;
    height: 100vh;
    margin-left: -3px;
    text-align: center;
}

.part-home-icon{
    color: rgb(49, 92, 233);
    margin: 0 auto;
}

.collapsed-home-home{
    margin-top: 13px;
    margin-bottom: 20px
}
.collapsed-git-icon{
    margin-bottom: 20px
}
.collapsed-linkedin-icon{
    margin-bottom: 20px
}

.faded-black-background{
    float: right;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: .3;
}

.away-full-side{
    position: absolute;
    z-index: 3;
    float: left;
    background-color: rgb(241, 241, 241);
    width: 240px;
    height: 100vh;
    margin-left: -3px;
    top: 0;
}

.logo-side{
    margin-left: 18%;
    margin-top: 20px;
    float: left;
    margin-right: 100px;
    padding-bottom: 10px;
    
}

.full-away-home-icon{
    margin-right: 30px;
}

.full-away-home{
    border-top: 1px solid rgb(211, 209, 209);
    padding: 15px 10px 10px 20px;
}


.full-git-away{
    padding: 10px 10px 10px 20px;
}

.full-away-git-icon{
    margin-right: 30px;
}

.full-linkedin-away{
    padding: 10px 10px 10px 20px;
}

.full-away-linkedin-icon{
    margin-right: 30px;
}

.side-nav-away{
    width: inherit;
    margin-top: 58px;
}

.sidebar-hover:hover{
    background-color: rgb(209, 208, 208);
    cursor: pointer;
}


/* <div className="home-part-side">
    <div className="collapsed-home-home"><i className="fas fa-home part-home-icon"></i><br/>Home</div>
    <div className="collapsed-git-icon"><i className="fab fa-github"></i><br/>Github</div>
    <div className="collapsed-linkedin-icon"><i className="fab fa-linkedin"></i><br/>LinkedIn</div>
</div>

<div className="away-full-side">
    <div className="full-away-home sidebar-hover"><i className="fas fa-home full-away-home-icon"></i>Home</div>
    <div className="full-git-away sidebar-hover"><i className="fab fa-github full-away-git-icon"></i>Github</div>
    <div className="full-linkedin-away sidebar-hover"><i className="fab fa-linkedin full-away-linkedin-icon"></i>LinkedIn</div>
</div> */