
.signup-form {
    margin: 0 auto;
    width: 750px;
    height: 500px;
    border: solid rgb(209, 205, 205) 2px;
    padding: 48px 40px 36px;
    box-sizing: border-box;
    margin-top: 80px;
    border-radius: 10px;
}

.signup-message-h2 {
    font-family: Verdana, sans-serif;
    font-weight: 100;
    font-size: 22px;
}

.signup-message-h4 {
    font-family: Verdana, sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.blugle-signup-logo-container{
    width: 100%;
}

.name-signup-input {
    width: 40%;
    height: 40px;
    font-size: 12px;
    padding: 8px;
    margin-top: 15px;
    border: 2px solid rgb(209, 205, 205);
    border-radius: 5px;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.name-signup-input:focus {
    border: 2px solid rgb(28, 77, 236);
    border-radius: 4px;
}

.email-signup-input {
    width: 40%;
    height: 40px;
    font-size: 12px;
    padding: 8px;
    margin-top: 15px;
    border: 2px solid rgb(209, 205, 205);
    border-radius: 5px;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.email-signup-input:focus {
    border: 2px solid rgb(28, 77, 236);
    border-radius: 4px;
}

.pw-signup-input {
    width: 40%;
    height: 40px;
    font-size: 12px;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 40px;
    border: 2px solid rgb(209, 205, 205);
    border-radius: 5px;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.pw-signup-input:focus {
    border: 2px solid rgb(28, 77, 236);
    border-radius: 4px;
}


.signup-submit {
    float: right;
    background-color: rgb(28, 77, 236);
    padding: 10px 30px 10px 30px;
    color: white;
    font-family: verdana, sans-serif;
    font-size: 14px;
    border-radius: 6px;
    margin-right: 350px;
}

.signup-errors {
    float: right;
    margin-top: -210px;
}

.back-to-login-button {
    text-decoration: none;
    color: rgb(28, 77, 236);
    font-family: verdana, sans-serif;
    font-size: 14px;
}